/* --- Navbar --- */

.navbar-custom {
  border-bottom: 1px solid #EAEAEA;
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Open Sans', sans-serif;
}

.navbar-custom .nav li a {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
}

.navbar-custom .navbar-brand-title {
  clear: left;
  font-size: 14px;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  height:10px;
  color: #AAA;
  text-align: left;
}

.navbar-custom .navbar-brand-owner {
  font-size: 40px;
  font-weight: normal;
  text-align: left;
  padding-left: 0px;
}

.navbar-custom .navbar-brand-navigation {
  float: right;
  margin-right: 10px;
}

.navbar-custom .navbar-brand-title:hover,
.navbar-custom .navbar-brand-title:focus {
  /*color: #000;*/
}

/*.navbar-custom .navbar-brand,*/
.navbar-custom .nav li a {
  font-weight: 800;
  color: #0085A1;
}

/*.navbar-custom .navbar-brand:hover,*/
/*.navbar-custom .navbar-brand:focus,*/
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus
{
  color: #0085A1;
}

.navbar-custom .navbar-brand-logo {
  padding-top: 0;
  -webkit-transition: padding .5s ease-in-out;
  -moz-transition: padding .5s ease-in-out;
  transition: padding .5s ease-in-out;
}
.navbar-custom .navbar-brand-logo img {
  height: 50px;
  -webkit-transition: height .5s ease-in-out;
  -moz-transition: height .5s ease-in-out;
  transition: height .5s ease-in-out;
}
.navbar-custom.top-nav-short .navbar-brand-logo {
  padding-top: 5px;
}
.navbar-custom.top-nav-short .navbar-brand-logo img {
  height: 40px;
}

@media only screen and (min-width: 768px) {
  .navbar-custom {
    /*padding: 60px 0;*/
    padding-top: 25px;
    padding-bottom: 20px;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
  }

  .navbar-custom.top-nav-short {
    padding: 0;
  }
}

.navbar-custom .avatar-container {
  position: absolute;
  left: 50%;
  /*width: 75px;*/
  /*margin-top: -25px;*/
}
.navbar-custom .avatar-container .avatar-img-border {
  width: 100%;
  border-radius: 50%;
  margin-left: -50%;
  display: inline-block;
}
.navbar-custom .avatar-container .avatar-img {
  width: 100%;
  border-radius: 50%;
  display: block;
}

.navbar-custom.top-nav-expanded .avatar-container {
  display: none;
}

@media only screen and (min-width: 768px) {
  .navbar-custom .avatar-container {
    width: 150px;
    margin-top: -15px;
  }

  .navbar-custom .avatar-container .avatar-img-border {
    /*width: 100%;*/
  }

  .navbar-custom .avatar-container .avatar-img {
    /*width: 100%;*/
  }
}

/* Multi-level navigation links */
.navbar-custom .nav .navlinks-container {
  position: relative;
}
.navbar-custom .nav .navlinks-parent:after {
  content: " \25BC";
}
.navbar-custom .nav .navlinks-children {
  width: 100%;
  display: none;
  word-break: break-word;
}
.navbar-custom .nav .navlinks-container .navlinks-children a {
  display: block;
  padding: 10px;
  padding-left: 30px;
  text-decoration: none !important;
  border-width: 0 1px 1px 1px;
  font-weight: normal;
}
@media only screen and (max-width: 767px) {
  .navbar-custom .nav .navlinks-container.show-children {
    background: rgba(0, 0, 0, 0.2);
  }
  .navbar-custom .nav .navlinks-container.show-children .navlinks-children {
    display: block;
  }
}
@media only screen and (min-width: 768px) {
  .navbar-custom .nav .navlinks-container {
    text-align: center;
  }
  .navbar-custom .nav .navlinks-container:hover {
    background: rgba(0, 0, 0, 0.1);
  }
  .navbar-custom .nav .navlinks-container:hover .navlinks-children {
    display: block;
  }
  .navbar-custom .nav .navlinks-children {
    position: absolute;
  }
  .navbar-custom .nav .navlinks-container .navlinks-children a {
    padding-left: 10px;
    border: 1px solid #eaeaea;
    border-width: 0 1px 1px;
  }
}