<div id="about_me" style="height:85px;"></div>
<section>
  <h1 class="big_h1">About Me</h1>
  <div style="height:30px;"></div>

  <h2><span>Bio</span></h2>
  <p>
    I am a research scientist at FX Palo Alto Laboratory (FXPAL). My current research focuses on human behavior sensing and analysis. Prior to my position at FXPAL, I was a post-doc researcher in the <a href="http://prb.tudelft.nl/">Pattern Recognition &amp; Bioinformatics Group</a> in TU Delft. I was a research fellow at the Royal Institute of Technology (KTH) in Sweden, in the <a href="https://www.kth.se/en/csc/forskning/cvap" target="_blank" rel="noopener">Computer Vision and Active Perception Lab (CVAP)</a>, where I investigated natural human-robot interaction and social robotics.
  </p>

  <p>
    I received my PhD degree in Computer Science from Lancaster University in 2015, where I was also a Marie Curie research fellow. While in Lancaster, I investigated novel video-based gaze estimation techniques, gaze-based interaction for large displays, and using eye tracking for detecting dementia and health monitoring. I obtained my Master&#8217;s degree in Artificial Intelligence from the University of Amsterdam, where I was awarded the Huygens Scholarship.
  </p>

  <h2><span>Research Interests</span></h2>
  <p class="p_left">
    Human Behaviour Analysis<br/>
    Ubiquitous Computing<br/>
    Human-computer Interaction<br/>
    Computer Vision<br/>
    Machine Learning and Pattern Recognition<br/>
    <br/>
  </p>

  <h2><span>Past Projects</span></h2>
  <p class="p_left">
    <strong>Resourceful Ageing, Exploring data-driven and machine learning approaches to design novel IoT services for ageing populations</strong>, TU Delft, 2016 – 2018<br/>
    <strong>MODEM (Monitoring Of Dementia using Eye Movements)</strong>, Lancaster University, 2015<br/>
    <strong>Combining Gaze and Hand Gestures for Remote Interaction</strong>, Microsoft Research Cambridge, June 2014 &#8211; August 2014<br/>
    <strong>iCareNet (Intelligent Context-Aware Systems for Healthcare, Wellness, and Assisted Living)</strong>, Lancaster University, 2011 &#8211; 2014<br/>
    <strong>EAR (Eye-based Activity Recognition)</strong>, Lancaster University, 2011<br/>
    <strong>Multi-people Tracking using Graph Representation with Ceiling Mounted Video Cameras</strong>, Philips Research Eindhoven, January 2010 – October 2010<br/>
    <br/>
  </p>

  <h2><span>Research Services</span></h2>
  <p>
    I served as the Paper &amp; Proceedings chair for the 5th ACM Symposium on Spatial User Interaction (SUI 2017). Previously, I co-organised the 5th International Workshop on Pervasive Eye Tracking and Mobile Eye-Based Interaction (sponsored by 3 industry partners) with academics from ETH Zurich and Max-Planck Institute for Informatics in 2015. I served on the program committee for the 3rd and the 6th International Workshop on Pervasive Eye Tracking and Mobile Eye-Based Interaction. I served on the program committee of the IEEE conference on Automatic Face and Gesture Recognition (FG) from 2017 to 2019. Frequently, I get invited to review submissions for international conferences (e.g., CHI, UIST, UbiComp, HRI, MobileHCI), Journals (e.g., Sensors, PMC, IJHCS, IMWUT, TMC, PLOS One) and magazines.
  </p>

  <h2><span>Contact</span></h2>
  <p><i class="fas fa-mail-bulk"></i> yzhang [at] fxpal [dot] com</p>

</section>
