<div id="cv" style="height:85px;"></div>
<section>
  <h1 class="big_h1">CV</h1>
  <div style="height:30px;"></div>

  <h2><span>Education</span></h2>
  <p class="p_left">
    Ph.D. in Computer Science, Lancaster University, UK (2010 – 2015)<br/>
    Master of Science in Artificial Intelligence, University of Amsterdam, Netherlands (2008 – 2010)<br/>
    Bachelor of Science in Electronics and Information Engineering, Huazhong University of Science and Technology, China (2004 – 2008)<br/>
    <br/>
  </p>

  <h2><span>Teaching</span></h2>
  <p class="p_left">
    Co-instructor, Algorithms and Data Structure, Delft University of Technology (2017)<br/>
    Co-instructor, Multimedia Analyse, Delft University of Technology (2017)<br/>
    Teaching Assistant, Media Coding &amp; Processing, Lancaster University (2015)<br/>
    <br/>
  </p>

  <h2><span>Selected Awards</span></h2>
  <p class="p_left">
    Marie Curie Fellowship, European Commission (2011 – 2014)<br/>
    Runner-up of Best PhD Talks at the SciTech Christmas Conference, Lancaster University, UK (2014)<br/>
    Best Presentation at the Symposium on Natural User Interfaces, Augmented Reality and Beyond, The Rank Prize Funds, UK (2013)<br/>
    Dean’s Award for Excellence in Postgraduate, Lancaster University, UK (2013)<br/>
    Huygens Scholarship Program, Nuffic, Netherlands (2008 – 2010)<br/>
    Excellent B.Sc. Dissertation of Hubei Province, China (2008)<br/>
    <br/>
  </p>

  <h2><span>Skills</span></h2>

  <p class="p_left">
    Python, C/C++<br/>
    OpenCV, Qt, Kinect SDK, Tobii SDK<br/>
    Matlab, R, Visualization Toolkit (VTK), scikit-learn, Keras<br/>
    <br/>
  </p>


</section>
