<section style="height:160px;">
  <nav class="navbar-default navbar-fixed-top navbar-custom navbar">
    <div class="avatar-container" id="avatar">
      <div class="avatar-img-border">
        <img class="avatar-img" src="/img/Yanxia-600x600.jpg" />
      </div>
    </div>
    <center>
      <div class="navbar-content-size">
        <div class="navbar-brand navbar-brand-owner">{{ site.title }}</div>
        <div class="navbar-brand navbar-brand-navigation"><a href="#cv">CV</a></div>
        <div class="navbar-brand navbar-brand-navigation"><a href="#software">Software</a></div>
        <div class="navbar-brand navbar-brand-navigation"><a href="#publications">Publications</a></div>
        <div class="navbar-brand navbar-brand-navigation"><a href="#about_me">About Me</a></div>
        <div class="navbar-brand-title navbar-brand">{{ site.description }}</div>
      </div>
    </center>
  </nav>
</section>
