<section style="height:160px;">
  <nav class="navbar-default navbar-fixed-top navbar-custom navbar">
    <div class="avatar-container" id="avatar" style="transition: 0.2s;">
      <div class="avatar-img-border">
        <img class="avatar-img" src="/img/Yanxia-600x600.jpg" />
      </div>
    </div>
    <center>
      <div style="width:90%">
        <div class="navbar-brand navbar-brand-owner">Dr. Yanxia Zhang</div>
        <div class="navbar-brand navbar-brand-navigation"><a>Software</a></div>
        <div class="navbar-brand navbar-brand-navigation"><a>Publications</a></div>
        <div class="navbar-brand navbar-brand-navigation"><a>About Me</a></div>
        <div class="navbar-brand-title navbar-brand">Researcher in Computer Vision, Machine Learning and HCI</div>
      </div>
    </center>
  </nav>
</section>
